* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.options-container {
  height: 3rem;
  width: 3rem;
  background-color: #ededed;
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}

.tools-container {
  display: flex;
  height: 3rem;
  width: 45vw;
  background-color: #ededed;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 2.4rem;
  left: 30vw;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.animate-container {
  animation: animate 2s ease-in-out 0s 1 normal forwards;
}

@keyframes animate {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(0);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1);
  }

  55% {
    animation-timing-function: ease-in;
    transform: scale(0.7);
  }

  72% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

  81% {
    animation-timing-function: ease-in;
    transform: scale(0.84);
  }

  89% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

  95% {
    animation-timing-function: ease-in;
    transform: scale(0.95);
  }

  100% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

.tools-container > * {
  display: block;
  width: 2rem;
}

.tools-container > img {
  height: 75%;
  width: 100%;
}

.tools-container > img:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.draw-tool-container {
  height: 5rem;
  width: 8rem;
  position: absolute;
  top: 7rem;
  left: 30vw;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;
  display: none;
}

.draw-width-container {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw-width-container > input {
  width: 80%;
}

.draw-color-container {
  height: calc(100% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
}

.tool-color {
  width: 1.35rem;
  height: 1.35rem;
  border-radius: 50%;
  cursor: pointer;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.erase-tool-container {
  height: 2rem;
  width: 8rem;
  background-color: orange;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7rem;
  left: 36vw;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;
}

.erase-tool-container > input {
  width: 80%;
}

.stickynote-container {
  height: 15rem;
  width: 15rem;
  position: absolute;
  top: 10rem;
  left: 45%;
}

.container-header {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f8f8;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.container-header > * {
  height: 0.9rem;
  width: 0.8rem;
  margin-left: 0.5rem;
}

.minimize {
  background-color: #ead81a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minimize:hover {
  cursor: pointer;
}

.minimize:hover .note-minimize-icon {
  display: block;
}

.close {
  background-color: #eb1717;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover {
  cursor: pointer;
}

.close:hover .note-close-icon {
  display: block;
}

.note-close-icon {
  font-size: 0.6rem;
  margin-top: 0.138rem;
  margin-right: 0.025rem;
  display: none;
}

.note-minimize-icon {
  font-size: 0.56rem;
  margin-bottom: 0.3rem;
  margin-right: 0.01rem;
  display: none;
}

.note-container {
  height: calc(100% - 2rem);
}

.note-container > textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: #ededed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;
}

.note-container > img {
  height: 100%;
  width: 100%;
}
